@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MAvha</h1>
    <p><a href="https://localhost:44389/Home/Agregar" class="btn btn-primary btn-lg">Insertar &raquo;</a></p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="https://localhost:44389/Home/GetAll">Traer Todos &raquo;</a></p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="https://localhost:44389/Home/GetByIdPost">Traer x Id &raquo;</a></p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="https://localhost:44389/Home/GetByStatusPost">Traer x Estado &raquo;</a></p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="https://localhost:44389/Home/GetByDescriptionPost">Traer x Descripcion &raquo;</a></p>

</div>
<div class="row">

</div>